body 
{
	margin: 0;	
}

html
{
	font-family: 'Droid Sans', sans-serif;
	color: #545454;
	background: #F7F7F7;
}

header 
{
	width: 100%;
	height: 75px;
	background: #E8E8E8;
	border-bottom: 1px solid #C9CBCB;
}

.rtMainContent
{
	font-size: 90%;
	margin: 10px auto;	
	padding: 10px;
	width: 800px;
	background: white;
	border: 1px solid #C9CBCB;
	border-radius: 2px;
}

.appMainDiv
{
	background: #F7F7F7;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #C9CBCB;
	border-radius: 2px;
}

.minerButton
{
	background: #E8E8E8;
	padding: 5px;
	margin-left: 5px;
	line-height: 2.5;
	border: 1px solid #C9CBCB;
	border-radius: 2px;
	white-space: nowrap;
}

.minerButton:hover
{
	background: #9A9A9A;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}